<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About EcoTeam</title>
    <link rel="stylesheet" href="../assets/css/Styles.css">
</head>
<body class="cuerpo">
    
<!--header y el menu-->
    <header class="encabezado">

        <h2>EcoTrack</h2>

            <ul>
                <li><a href="Home.html" class="menu">Home</a></li>
                <li><a href="PostPage.html" class="menu">News</a></li>
                <li><a href="handcraftPage.html" class="menu">Handraft Help</a></li>
                <li><a href="map.html" class="menu">Map</a></li>
                <li><a href="AboutUs.html" class="menu">About Us</a></li>
            </ul>

    </header>

</body>
</html>