<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join a volunteer</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body class="cuerpoCreateAccount">

    <!--formulario para crear una cuenta-->
    <div class="contenedor-base">
        <h3>Join a Volunteer</h3>
        <div>
            <form action="../components/Home.html" class="formulario-log">
                
                <input type="text" placeholder="Name" class="cajita-texto">
                
                <input type="text" placeholder="Last Name" class="cajita-texto">
                
                <input type="date" placeholder="Date of birth" class="cajita-texto">
                
                <input type="email" placeholder="Example@gmail.com" class="cajita-texto">
                
                <div id="formulario_god" id="Chequeo">
                    <p>Allergies?</p> 

                    <label><input type="checkbox" class="check-allergy" data-value="yes"> Yes</label>
                    <label><input type="checkbox" class="check-allergy" data-value="no"> No</label>

                    <!-- Formulario que aparece solo si selecciona "Yes" -->
                    <div id="formulario-extra" style="display:none;">
                        <input type="text" placeholder="¿Qué alergias tienes?" class="cajita-texto">
                    </div>
                
                </div>
                <input type="submit" value="Send" class="botoncito" onclick="btonsubir()">
            </form>

            <a href="Home.html" class="textoUnderline">Back</a>
        </div>
    </div>
    
    <script src="../assets/Js/Script.js"></script>
</body>
</html>