<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body class="cuerpoCreateAccount">

    <!--formulario para crear una cuenta-->
    <div class="contenedor-base">
        <h3>Join a Volunteer</h3>
        <div>
            <form action="PrincipalPage.html" class="formulario-log">
                
                <input type="text" placeholder="Name" class="cajita-texto">
                
                <input type="text" placeholder="Last Name" class="cajita-texto">
                
                <input type="date" placeholder="Date of birth" class="cajita-texto">
                
                <input type="email" placeholder="Example@gmail.com" class="cajita-texto">
                
                <div id="formulario_god">
                    <p>Allergies?</p> 

                    <label><input type="checkbox" placeholder="Allergies?"  value="Yes">Yes</label>
                
                    <label><input type="checkbox" placeholder="Allergies?" value="No">No</label>
                
                </div>
                <input type="submit" value="Create" class="botoncito" >
            </form>

            <a href="../index.html" class="textoUnderline">Back</a>
        </div>
    </div>
    
    <script src="JavaScript/Script.js"></script>
</body>
</html>