<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal page</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body class="cuerpo-PrincipalPage">

    <!--header y el menu-->
    <header>
        <h1 class="titulo-principal">EcoTrack</h1>
        <div class="contenedor-encabezado">
            <ul>
                <li><a href="PrincipalPage.html">Home</a></li>
                <li><a href="PostPage.html">News</a></li>
                <li><a href="handcraftPage.html">Handraft Help</a></li>
                <li><a href="map.html">Map</a></li>
            </ul>
        </div>
    </header>

<h1>COSAS PARA CREAR COSAS</h1>




<script src="JavaScript/Script.js"></script>    
</body>
</html>