<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal page</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body class="cuerpo-PostPage">
    <!--header y el menu-->
    <header>
        <h1 class="titulo-principal">EcoTrack</h1>
        <div class="contenedor-encabezado">
            <ul>
                <li><a href="PrincipalPage.html">Home</a></li>
                <li><a href="PostPage.html">News</a></li>
                <li><a href="handcraftPage.html">Handraft Help</a></li>
                <li><a href="map.html">Map</a></li>
            </ul>
        </div>
    </header>
     <!-- Barra izquierda -->
<aside class="leftbar">

    <div class="perfil">
        <img src="IMG/user.png" alt="Usuario">
        <h3>Welcome!</h3>
    </div>

    <div class="menuLateral">
        <a href="#">🌱 Eco Challenges</a>
        <a href="#">♻ Recycling Tips</a>
        <a href="#">🧹 Clean-up Events</a>
        <a href="#">📷 My Posts</a>
        <a href="#">❤️ Saved</a>
    </div>
</aside>

</div>

    <div class="container">
        <!--lugar donde se cean los post-->
        <main class="feed">
            <div class="post-box">
                <input id="postInput" type="text" placeholder="¿Qué estás pensando?">
                <button id="postBtn">Publicar</button>
                <br>
                <input id="imageInput" type="file" accept="image/*">
            </div>

            <!-- Contenedor de posts -->
            <div id="postsContainer"></div>

        </main>
          <!-- Stories -->

<div class="stories">

    <div class="story">
        <img src="IMG/story1.jpg">
        <p>Anna</p>
    </div>

    <div class="story">
        <img src="IMG/story2.jpg">
        <p>Lucas</p>
    </div>

    <div class="story">
        <img src="IMG/story2.jpg">
        <p>Sofia</p>
    </div>

    <div class="story">
        <img src="IMG/story4.jpg">
        <p>Emma</p>
    </div>


    </div>
<div class="post">

    <div class="post-header">

        <img src="IMG/user.png">

        <div>
            <h3>Communities</h3>

<div class="community">

    🌳 Green Planet

</div>

<div class="community">

    ♻ Recycling Club

</div>

<div class="community">

    🌎 Save Oceans

</div>

<div class="community">

    🌱 Eco Volunteers

</div>

        </div>

    </div>

    <p>
        🌳 Today we planted more than 100 trees.
        Thank you to everyone who participated!
    </p>

    <img src="IMG/tree.jpg" class="post-image">

    <div class="acciones">

        <button>👍 Like</button>

        <button>💬 Comment</button>

        <button>📤 Share</button>

    </div>

</div>


<script src="JavaScript/Script.js"></script>    
</body>
</html>