<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestore your password</title>
    <link rel="stylesheet" href="../assets/css/Styles.css">
</head>
<body class="Cuerpo-ReestorePAssword">


    <div class="contenedor-base">

            <h2 id="texto">Reset your password</h2>

            <!--Formulario-->
            <form action="" class="Formulario-change">

                <label for="name" id="tx-mail">Write your email</label>

                <input type="email" placeholder="Example@gmail.com" class="cajita-texto">

            </form>

            <button onclick="mostrarfom()" class="botoncito">Get a Code</button>

        <div>

            <form action="changepassword.html"  id="formulario-Mago">

                <label for="text" class="letrasWaza">Write your code</label>

                <div id="formularioprueba">

                    <input type="text" maxlength="1" class="input-code">

                    <input type="text" maxlength="1" class="input-code">

                    <input type="text" maxlength="1" class="input-code">

                    <input type="text" maxlength="1" class="input-code">

                    <input type="text" maxlength="1" class="input-code">

                    <input type="text" maxlength="1" class="input-code">

                </div>

                <br>

                <input type="submit" class="botoncito">

            </form>

        </div>

    </div>

<script src="../assets/Js/Script.js"></script>
</body>
</html>