<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestore your password</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body class="Cuerpo-ReestorePAssword">


    <div class="contenedor-base">
            <h2>Reestore Your Password</h2>
            <!--Formulario-->
            <form action="" class="formulario-LogIn">

                <label for="name" class="letrasWaza">Write your email</label>
                <input type="email" placeholder="Example@gmail.com">
            </form>
            <button onclick="mostrarfom()" class="createAccount">Get a Code</button>

        <div>
            <form action="changepassword.html"  id="formulario-Mago">
                <label for="text" class="letrasWaza">Write your code</label>
                <div id="formularioprueba">
                    <input type="text" maxlength="1" class="input-code">
                    <input type="text" maxlength="1" class="input-code">
                    <input type="text" maxlength="1" class="input-code">
                    <input type="text" maxlength="1" class="input-code">
                    <input type="text" maxlength="1" class="input-code">
                    <input type="text" maxlength="1" class="input-code">
                </div>
                <br>
                <input type="submit" class="bton-LogIn">
            </form>
        </div>

    </div>

<script src="JavaScript/Script.js"></script>
</body>
</html>